{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container" style="color: yellow; background-image: url('https://images.unsplash.com/photo-1605903062360-80e9588cb391?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80'); background-repeat: no-repeat; background-size: cover; width: 80%">

    <h2 style="text-align: center"> welcome to the world news</h2>
    <hr>
    {{macro.displaySourceList(technology_sources)}}

    <h2 style="text-align: center">Economic news</h2>
    <hr>
    {{ macro.displaySourceList(sources)}}

    <h2 style="text-align: center" >show buzy</h2>
    <hr>
    {{ macro.displaySourceList(entertainment_sources)}}

    <h2 style="text-align: center">Top Sport News Sources</h2>
    <hr>
    {{ macro.displaySourceList(sports_sources)}}

</div>

{% endblock%}
